{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/mybookings.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>My Bookings</title>
</head>

<body style="font-family: poppins;">

  <div class="nav" style="background-color: antiquewhite;">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <h1 style="font-weight:900">TRYCYCLE<h1>
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a href="/">Home</a>
      <a href="bicycle" target="_blank">Cycle</a>
      <a href="discount">Discounts</a>
      {% if user.is_authenticated %}
      <a href="logout">Logout</a>
      {% endif %}
    </div>
  </div>
  <div style="position: relative;">
    <h1 style="width: 50%; margin: 0 auto; margin-top: 150px; text-align: center;">Your Bookings</h1>
  </div>
  {% if user.is_authenticated %}
  {% if bookings %}
  <div class="table" style="overflow-x:auto; margin:10px 0; font-size: 25px; "  >
    <table>
      <tr>
        <th class="z1">Date</th>
        <th class="z1">Time</th>
        <th class="z1">Starting Point</th>
        <th class="z1">Ending Point </th>
        <th class="z1">Fare</th>
      </tr>
      {% for book in bookings %}
          {% ifequal user.username book.user %}
        <tr>
            <td scope="col">
                {{ book.date }}
            </td>
            <td scope="col">
                {{ book.cht }}
            </td>
            <td scope="col">
                {{ book.startpt }}
            </td>
            <td scope="col">
                {{ book.lastpt }}
            </td>
        <td scope="col">
                {{ book.tot }}
        </td>
        </tr>
        {% endifequal %}
        {% endfor %}
    </table>
    </div>
    {% else %}
    <p align="centre">NO RECORDS</p>
    {% endif %}
    {% endif %}
</body>

</html>