{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mybookings.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>My Bookings</title>
</head>

<body style="font-family: poppins;">

    <div class="nav" style="background-color: antiquewhite;">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                <h1 style="font-weight:900">TRYCYCLE</h1>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="bicycle" target="_blank">Cycle</a>
            <a href="discount">Discounts</a>
            {% if user.is_authenticated %}
            <a href="logout">Logout</a>
            {% endif %}
        </div>
    </div>
    <div style="position: relative;">
        {% if uname %}
        <h1 style="width: 50%; margin: 0 auto; margin-top: 150px; text-align: center;">User Info of {{ uname }}</h1>
        {% endif %}
    </div>
    {% if users %}
    {% if uname %}
    <div class="table" style="overflow-x:auto; margin:10px 0; font-size: 25px; ">
        <table>
            <tr>
                <th class="z1">First Name</th>
                <th class="z1">Last Name</th>
                <th class="z1">Reg no.</th>
                <th class="z1">Room number</th>
            </tr>
            {% for us in users %}
                {% ifequal us.first_name uname %}
            <tr>
                <td scope="col">{{ us.first_name }}</td>
                <td scope="col">{{ us.last_name }}</td>
                <td scope="col">{{ us.reg_no }}</td>
                <td scope="col">{{ us.room_no }}</td>
            </tr>
                {% endifequal %}
            {% endfor %}
        </table>
    </div>
    {% else %}
    <p align="centre">NO RECORDS</p>
    {% endif %}
    {% endif %}
</body>

</html>